 body {
     padding: 8px 16px 8px 16px;
     background-color: #422083;
     overflow-x: hidden;
     font-family: 'Audiowide', cursive;
     color: #fff;
 }
 
 .twitchTop {
     background-color: #8663c7;
     margin: 6px 0px 6px 0px;
     padding-bottom: 6px;
 }
 
 .title {
     font-size: 25px;
 }
 
 .pic {
     height: 50px;
     width: 50px;
 }
 
 .stream:hover,
 .notStreaming:hover {
     opacity: 0.7;
     box-shadow: 0 10px 20px;
 }
 
 a,
 a:hover {
     color: inherit;
 }
 
 .results {
     width: 90%;
     margin-left: auto;
     margin-right: auto;
 }
 
 .stream {
     background-color: green;
     color: white;
     border-style: solid;
     border-color: #8663c7;
     border-width: 4px;
     margin: 6px 0px 6px 0px;
     padding-top: 4px;
     padding-bottom: 4px;
 }
 
 .noStream {
     background-color: #8663c7;
     color: white;
     border-style: solid;
     border-color: #8663c7;
     border-width: 4px;
     margin: 6px 0px 6px 0px;
     padding-top: 4px;
     padding-bottom: 4px;
 }
 
 .notStreaming {
     background-color: red;
     border-style: solid;
     border-color: #8663c7;
     border-width: 4px;
     color: white;
     margin: 6px 0px 6px 0px;
     padding-top: 4px;
     padding-bottom: 4px;
 }
 
 .subTitle {
     font-size: 12px;
 }

